<% if logged_in? %>
  <section class="user_homepage">
    <%= render 'shared/user_homepage' %>
  </section>
<% else %>
  <section class="homepage">
    <%= render 'shared/homepage' %>
  </section>
<% end %>